
<div style="text-align:center">
  <h1>
    RESTFUL TASK API
    
  </h1>
  <div id="tasks">


  <form (submit)="onSubmit()">
    <p>{{ newTask | json }}</p>
 <input [(ngModel)]="newTask.title" placeholder="New Task Title:" name = "newTask.title"/><br/>
 <input [(ngModel)]="newTask.description" placeholder="New Task Description:" name = "newTask.description"/><br/>
<input type="submit" value="create new task"/>
</form>

  <h3>TASKS:</h3>
  <button *ngIf="seeTasks == false" (click)="showTasks()" >SHOW TASKS</button>
  <button *ngIf="seeTasks" (click)= "seeTasks = false; seeDeets = false">HIDE TASKS</button>

  <div *ngFor="let task of tasks" class="tasks">
      <p *ngIf="seeTasks">{{task.title}}  </p> 
      <button *ngIf="seeTasks" (click)='getDeets(task)'>GET THE DEETS</button>  
  </div>

  <h4 *ngIf="seeTasks && seeDeets">HERE COME THE DEETS:</h4>
    <p *ngIf="seeDeets">{{this.taskByID.description}}</p>
    <button *ngIf="seeDeets" (click)="seeDeets = false; upDeets = false">HIDE THE DEETS</button>
    <button *ngIf="seeDeets" (click)="this.upDeets = true">EDIT TASK</button>
    <button *ngIf="seeDeets" (click)="deleteTask()">FORSAKE TASK</button>
  
    <form (submit)="editTask()" *ngIf="upDeets">
        <p>{{ updateTask | json }}</p>
        <input [(ngModel)]="updateTask.title" placeholder="Edit Task Title:" name = "updateTask.title"/><br/>
        <input [(ngModel)]="updateTask.description" placeholder="Edit Task Description:" name = "updateTask.description"/><br/>
       <input type="submit" value="update task"/>
      
    </form>

    

  <h1>-------!!!!!!!!!!!!!!!!!!!!-------</h1>
  <app-task *ngIf="thisTask" [currentTask]="thisTask"></app-task>



<router-outlet></router-outlet>
